@model Hotel.Models.UserViewModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "User", FormMethod.Post))
{
    <div class="DivTextBoxPosition">
        <div>
            <div class="LabelSpacing">
                @Html.LabelFor(m => m.User.UserName)
            </div>
            <div class="DivTextBoxPos">
                @Html.TextBoxFor(m => m.User.UserName)
            </div>
        </div>

        <div>
            <div class="LabelSpacing">
                @Html.LabelFor(m => m.User.Password)
            </div>
            <div class="DivTextBoxPos">
                @Html.TextBoxFor(m => m.User.Password, new { @class = "form-control", placeholder = "Password", @type = "password" })
            </div>
        </div>

        <div>
            <div class="LabelSpacing">
                @Html.LabelFor(m => m.User.UserPin)
            </div>
            <div class="DivTextBoxPos">
                @Html.TextBoxFor(m => m.User.UserPin, new { @class = "form-control", placeholder = "UserPin", @type = "password" })
            </div>
        </div>
        <div class="DivSubmitButton">
            <input type="submit" value="Submit" />
            </div>
        </div>
}